@import "vendor/_vars";
@import "vendor/reset";
@import "vendor/fonts";
@import "vendor/options";
@import "vendor/mixins";

.body {
    background-color: rgb(22, 22, 22);
    color: white;
    font-family: 'Raleway';
    min-width: rem(1670);
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    padding-bottom: rem(200);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Common styles */
@import "vendor/common-styles";

/* Blocks */
@import "blocks/intro";
@import "blocks/portfolio";